@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
    background-color: #086c15;
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Train One', cursive;
    background: -webkit-linear-gradient(#FA9F42, #721817);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1  {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 48px;
    }
}

/* Header  */

.title {
    background-color: #e0e0e0;
}

#menu-toggler {
    color: #086c15;
}

.fa-chevron-circle-down {
    margin: 10px;
    transition: 0.5s;
}

.rotate {
    transform:rotate(180deg);
}

#collapsable-menu {
    width: 100%;
}

/* Game Area  */

.game-area {
    height: 100%;
}

.start-btn-container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
    /* margin: 0 auto; */
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #e0e0e0;
    background: -webkit-linear-gradient(#FA9F42, #721817);
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: 0.1s;

}

.play-btn:hover {
    -webkit-box-shadow: 0px 5px 5px -0.5px #202020; 
    box-shadow: 0px 5px 5px -0.5px #202020;   
    transform: translateY(-0.1em);
}

.play-btn:active {
    box-shadow: none;
    transform: translateY(0.1em);
}

.btn-primary {
    background-color: #e78422;
}

.btn-primary:hover {
    background-color: #b1681f;
}

.btn {
    border: none;
}

/* Game Number  */

.number-container {
    height: 350px;
    background-color: #e0e0e0;
}

#game-number {
    font-size: 15em;
    height: 350px;
}

#gameplay-btns {
    margin: 0px 120px;
}

.gameplay {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 45px;
    border-radius: 50px;
    background-color: #e0e0e0;
    background: -webkit-linear-gradient(#FA9F42, #721817);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

#gameplay-btns {
    max-width: 600px;
    margin: 15px auto;
}

@media screen and (max-width: 600px) {
    /* .gameplay {
    margin: 10px 0px;
    }
    #gameplay-btns {
    margin: 0px;
    } */
}

/* Countdown Timer */

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown-timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: #f38110;
}

.fa-stopwatch {
    display: block;
}

/* buttons  */

.btn-correct {
    border: 1px solid #49fb35;
    box-shadow: 0 5px 15px rgba(73, 251, 53, 0.4);
    color: #49fb35;
}

.btn-incorrect {
    border: 1px solid #b10012;
    box-shadow: 0 5px 15px rgba(255, 149, 159, 0.4);
    color: #b10012;
}

/* Post game */

.score-text {
    font-size: 2em;
    color: #e0e0e0;
}