@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


body {
    background-color: rgb(8,108,21);
}

h1  {
    font-family: 'Train One', cursive;
    font-size: 72px;
    margin: 60px;
}
