@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


body {
    background-color: #086c15;
}

h1  {
    font-family: 'Train One', cursive;
    font-size: 72px;
    padding: 60px 0px;
    background: -webkit-linear-gradient(#FA9F42, #721817);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 48px;
    }
}

.title {
    background-color: #e0e0e0;
}

/* Level Selectors  */

.level-button {
    display: inline;
    margin: 60px 30px;
    border-radius: 25px;
    font-weight: 800;
    font-size: 28px;
    color: #086c15;
}

@media screen and (max-width: 600px) {
  .level-button {
      display: block;
  }

  #collapsable-menu {
      display: none;
  }
}